<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Sitemap</h3>
                        <ul class="alt">
                            <li><a href="/about.html">About Us</a></li>
                            <li><a href="/calendar.html">Event and Class Calendar</a></li>
                            <li><a href="/blog.html">Blog</a></li>
                            <li><a href="http://community.makerhq.org">Community Forum</a></li>
                            <li><a href="/membership.html">Membership Info</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>From our blog..</h3>
                        <ul class="alt">
                            <li><a href="{{ site.baseurl }}{{ site.posts[0].url }}">{{ site.posts[0].title }}</a></li>
                            <li><a href="{{ site.baseurl }}{{ site.posts[1].url }}">{{ site.posts[1].title }}</a></li>
                            <li><a href="{{ site.baseurl }}{{ site.posts[2].url }}">{{ site.posts[2].title }}</a></li>
                            <li><a href="{{ site.baseurl }}{{ site.posts[3].url }}">{{ site.posts[3].title }}</a></li>
                            <li><a href="{{ site.baseurl }}{{ site.posts[4].url }}">{{ site.posts[4].title }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>Connect with Maker<span id="hq">HQ</span></h2>
                <p>Join our Newsletter:</p>
                <p>info [at] makerhq [dot] org <br />2414 16th St, Sacramento, CA 95816 <br />Tel: 916-555-5555 </p>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; Copyleft 2016 MakerHQ. All wrongs reserved.</li>
            <li>Design: Craftily stolen from a template by <a href="http://templated.co">TEMPLATED</a></li>
        </ul>
    </div>
</footer>
