<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Sitemap</h3>
                        <ul class="alt">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/calendar">Event and Class Calendar</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="http://community.makerhq.org">Community Forum</a></li>
                            <li><a href="https://billing.makerhq.org/join">Membership Info</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>From our blog..</h3>
                        <ul class="alt">
                            <li><a href="{{ site.baseurl }}{{ site.posts[0].url }}">{{ site.posts[0].title }}</a></li>
                            <li><a href="{{ site.baseurl }}{{ site.posts[1].url }}">{{ site.posts[1].title }}</a></li>
                            <li><a href="{{ site.baseurl }}{{ site.posts[2].url }}">{{ site.posts[2].title }}</a></li>
                            <li><a href="{{ site.baseurl }}{{ site.posts[3].url }}">{{ site.posts[3].title }}</a></li>
                            <li><a href="{{ site.baseurl }}{{ site.posts[4].url }}">{{ site.posts[4].title }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>Connect with Maker<span id="hq">HQ</span></h2>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="//makerhq.us13.list-manage.com/subscribe/post?u=8d90c0ef95275e9dc7b29e85b&amp;id=6383e37d00" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            Join our Newsletter:
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px" aria-hidden="true"><input type="text" name="b_8d90c0ef95275e9dc7b29e85b_6383e37d00" tabindex="-1" value=""></div><br/>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->
                <p>
                    <i class="fa fa-envelope"></i> <a href="mailto:info@makerhq.org">info@makerhq.org</a>
                    <br/>
                    <i class="fa fa-map-marker"></i> <a href="https://maps.google.com/maps?ll=38.562508,-121.492421&z=17&t=m&hl=en-US&gl=US&mapclient=embed&q=2414%2016th%20St%20%2312%20Sacramento%2C%20CA%2095818" target="_blank">2414 16th St Suite 12, Sacramento, CA 95818</a>
                    <br/>
                    <i class="fa fa-phone"></i> 916-538-1466
                </p>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="http://www.facebook.com/makerhq" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/makerhq/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; Copyleft 2016 MakerHQ. All wrongs reserved.</li>
            <li>Design: Craftily stolen from a template by <a href="http://templated.co">TEMPLATED</a></li>
        </ul>
    </div>
</footer>
