<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" ><img id="top-logo" src="/images/logo_with_icon.png"></a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a></li>
            <li><a href="{{ site.baseurl }}/calendar">Calendar</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="http://community.makerhq.org">Community Forum</a></li>
            <li><a href="{{ site.baseurl }}/contact-us">Contact Us</a></li>
            <li><a href="https://billing.makerhq.org/join" class="button special">Become a Member!</a></li>
        </ul>
    </nav>
</header>