<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" ><img id="top-logo" src="/images/logo_with_icon.png"></a></h1>
    <nav id="nav">
        <ul>
            <li><a href="http://www.norcalroborumble.com/" style="color:red">2019 Norcal RoboRumble</a></li>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a></li>
            <li><a href="{{ site.baseurl }}/calendar">Calendar</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/products">Products</a></li>
            <li><a href="http://community.makerhq.org">Community Forum</a></li>
            <li><a href="{{ site.baseurl }}/contact-us">Contact Us</a></li>
            <li>	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">

                <input type="hidden" name="cmd" value="_s-xclick">

                <input type="hidden" name="hosted_button_id" value="44FS7M9NBSQX2">

            </form></li>
        </ul>
    </nav>
</header>
