<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2><span id="landing-back">Maker<span id="hq">HQ</span></span></h2>
                <p><span id="landing-back">A collaborative makerspace in Sacramento. <span id="hq">Make</span> the future here.</span></p>
                <ul class="actions">
                    <li><a href="https://billing.makerhq.org/join" class="button big special">Become a Member</a></li>
                    <li><a href="/about" class="button big alt">Learn More</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
